In [5]:
import sys
sys.path.append('/Users/garysimmons/Galvanize/capstones/capstone1/droughtmonitor/src')
import dataProcessor as dp

import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
plt.style.use('ggplot')

In [6]:
df0 = pd.read_csv("../data/CA2020/ca2020D0.csv").set_index('County')
df1 = pd.read_csv("../data/CA2020/ca2020D1.csv").set_index('County')
df2 = pd.read_csv("../data/CA2020/ca2020D2.csv").set_index('County')
df3 = pd.read_csv("../data/CA2020/ca2020D3.csv").set_index('County')
df4 = pd.read_csv("../data/CA2020/ca2020D4.csv").set_index('County')

df0 = dp.renameNonConsecutiveWeeksAsDCategory(df0,'d0')
df1 = dp.renameNonConsecutiveWeeksAsDCategory(df1,'d1')
df2 = dp.renameNonConsecutiveWeeksAsDCategory(df2,'d2')
df3 = dp.renameNonConsecutiveWeeksAsDCategory(df3,'d3')
df4 = dp.renameNonConsecutiveWeeksAsDCategory(df4,'d4')

In [23]:
df0.head()

                  FIPS State  NonConsecutiveWeeks
County
Alameda County    6001    CA                   49
Alpine County     6003    CA                   49
Amador County     6005    CA                   49
Butte County      6007    CA                   49
Calaveras County  6009    CA                   49

In [21]:
df1.head()

                  FIPS State  NonConsecutiveWeeks
County
Alameda County    6001    CA                   45
Alpine County     6003    CA                   45
Amador County     6005    CA                   45
Butte County      6007    CA                   45
Calaveras County  6009    CA                   45

In [15]:
df2.head()

   FIPS            County State  NonConsecutiveWeeks
0  6001    Alameda County    CA                   37
1  6003     Alpine County    CA                    4
2  6005     Amador County    CA                   13
3  6007      Butte County    CA                   38
4  6009  Calaveras County    CA                    6

In [16]:
df3.head()

   FIPS            County State  NonConsecutiveWeeks
0  6007      Butte County    CA                   14
1  6011     Colusa County    CA                   14
2  6015  Del Norte County    CA                   23
3  6021      Glenn County    CA                   14
4  6023   Humboldt County    CA                   37

In [17]:
df4.head()

   FIPS                 County State  NonConsecutiveWeeks
0  6027            Inyo County    CA                    3
1  6071  San Bernardino County    CA                    3

In [18]:
california2020 = pd.DataFrame(index=df0['County'])
california2020['FIPS'] = df0['FIPS']

Empty DataFrame
Columns: []
Index: [Alameda County, Alpine County, Amador County, Butte County, Calaveras County]